<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>

    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-light navbar-expand-lg">
    <a class="navbar-brand" href="/">Starboy Autos Classified</a>
    <ul class="navbar-nav mr-auto">
        <li class=""nav-item"><a class="nav-link" href="/pageone">Sedan</a></li>
        <li class=""nav-item"><a class="nav-link" href="/pagetwo">Hatchback</a></li>
        <li class=""nav-item"><a class="nav-link" href="/pagethree">SUV</a></li>
        <li class=""nav-item"><a class="nav-link" href="/pagefour">Convertible</a></li>
        <li class=""nav-item"><a class="nav-link" href="/pagefive">Sportscar</a></li>

    </ul>
</nav>






















