<%include shared/header%>
<style>body{
        background-color:red;
        color:white;
    }</style>

    <h3>Welcome to <%= message%></h3>

        <div>
            <img class="first-slide" src="images/banner1.jpg" alt="First slide">
        </div>

<%include shared/footer%>
