<%include shared/header%>
    <h1><%= title %></h1>
    <p>Welcome to <%= message %></p>

        <div>
            <img class="first-slide" src="images/banner1.jpg" alt="First slide">
        </div>

<%include shared/footer%>
